ul{
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}
.main{
  width: 400px;
  margin: auto;
}
li{
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 2px solid #ddd;
  border-bottom: 2px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}
